:root {
  --colorBodyBG: #f1f3f5;
  --colorFont: #444444;
  --colorLightDarkIcon: #444444;
  --colorInputButton: #ffffff;
  --transition-time: 0.4s;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-100-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-300-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-400-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-500-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-700-Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-900-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/** {
  border: 1px solid red; 
}*/

body { 
  transition: background-color var(--transition-time);
}

body {
  margin: 35px auto;
  margin-bottom: 20px;
  max-width: 650px;
  line-height: 3.6;
  font-size: 18px;
  color: var(--colorFont);
  background-color: var(--colorBodyBG);
  font-family: 'Roboto', sans-serif;
  padding: 0 10px;
}

input[type=text] {
  border: none;
  width: 50%;
  height: 50px;
  padding: 0;
  padding-left: 3%;
  font-size: 14pt;
  background-color: var(--colorInputButton);
  color: var(--colorFont);
  border-radius: 50px 0 0 50px; /* top-left, top-right, bottom-right, bottom-left */
  margin-right: 0;
  font-weight: 300;
}
    
input[type=text]:focus {
  outline: none;
}

.input-button-container {
  text-align: center;
}

.rounded-button {
  background-color: var(--colorInputButton);
  border-radius: 0 50px 50px 0; /* top-left, top-right, bottom-right, bottom-left */
  padding: 10px 14px;
  padding-bottom: 8px;
  margin: 0;
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  height: 50px;
  font-weight: 900;
  border-left: #888 1px solid;
}

.achievement-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  /*margin-right: 10px;*/
  /*box-shadow: 0 8px 0 #ccc;*/
  transition: all .2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.achievement-image:hover {
  transform: scale(1.08);
}

body.darkTheme img.achievement-image {
  filter: brightness(50%);
}

/* todo later... */
/*.goldshadow {
  box-shadow: 0 4px 8px 0 rgba(255, 215, 0, 0.2), 0 6px 20px 0 rgba(255, 215, 0, 0.19);
}*/

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#hourglass {
  /* Apply the animation */
  animation: rotateAnimation 2s linear infinite;
}

#loading-div {
  font-style: italic;
}

/* Container holding the image and the tooltip text */
.tooltip {
  position: relative;
  display: inline-block;
  text-align: center; /* Ensure this is centered */
}

/* Hide the tooltip text by default */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--colorInputButton);
  color: var(--colorFont);
  font-weight: 300;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  line-height: 1.3;
  /*border: 1px solid var(--colorFont);*/
  
  position: absolute;
  z-index: 1;
  bottom: 110%; /* Adjust based on your needs */
  left: 50%;
  transform: translateX(-50%);
  
  /* Ensure width or max-width is set for better control */
  white-space: nowrap; /* Prevents the text from wrapping */
  width: auto; /* Adjust if necessary */
  max-width: 200px; /* Adjust based on your content needs */
  
  opacity: 0;
  transition: opacity 0.6s;
}



/* Show the tooltip text when you hover over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.achievement-category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)); 
}

#summary {
  text-align: center;
  font-style: italic;
  font-weight: 100;
}

h1,h2,h3 {
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  font-weight: 100;
  text-align: center;
}

h2 {
  margin-left: 8px;
}

button {
  border: none;
  color: var(--colorFont);
  padding: 14px 18px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  filter: brightness(105%);
  z-index: 2;
}

button:focus, button:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}


.footer {
  text-align: center;
  padding-top: 60px;
}

a:focus, img:focus {
  outline: none;
}

a, img {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  color: inherit;
  text-decoration: none;
}


.footer-icon {
  font-size: 24pt;
  min-width: 40px; 
  cursor: pointer;
}

button span hr {
  width: 100%; 
  margin: auto; 
  padding: 0; 
  height: 3px; 
  border: none; 
  background-color: var(--colorTOPactive);
}

p.stretch.patent {
  display: flex;
}

p.stretch {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* Align items to the start of the container */
}

p.stretch > a {
  flex-grow: 1;
  margin-right: 8px;
}

p.stretch > button {
  flex-grow: 1;
  margin-right: 7px; 
}

p.stretch a button {
  width: 100%;
}

