:root {
  --colorBodyBG: #f1f3f5;
  --colorFont: #444444;
  --colorLightDarkIcon: #444444;
  --colorInputButton: #ffffff;
  --transition-time: 0.4s;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-100-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-300-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-400-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-500-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-700-Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-900-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/** {
  border: 1px solid red; 
}*/

body { 
  transition: background-color var(--transition-time);
}

body {
  margin: 35px auto;
  margin-bottom: 20px;
  max-width: 650px;
  line-height: 3.6;
  font-size: 18px;
  color: var(--colorFont);
  background-color: var(--colorBodyBG);
  font-family: 'Roboto', sans-serif;
  padding: 0 10px;
}

input[type=text] {
  border: none;
  width: 50%;
  height: 50px;
  padding: 0;
  padding-left: 3%;
  font-size: 14pt;
  background-color: var(--colorInputButton);
  color: var(--colorFont);
  border-radius: 50px 0 0 50px; /* top-left, top-right, bottom-right, bottom-left */
  margin-right: 0;
  font-weight: 300;
}
    
input[type=text]:focus {
  outline: none;
}

.input-button-container {
  text-align: center;
}

.rounded-button {
  background-color: var(--colorInputButton);
  border-radius: 0 50px 50px 0; /* top-left, top-right, bottom-right, bottom-left */
  padding: 10px 14px;
  padding-bottom: 8px;
  margin: 0;
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  height: 50px;
  font-weight: 900;
  border-left: #888 1px solid;
}

.achievement-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.achievement-image:hover, .achievement-image.expanded {
  transform: scale(1.08);
}

body.darkTheme img.achievement-image {
  filter: brightness(50%);
}

/* todo later... */
/*.goldshadow {
  box-shadow: 0 4px 8px 0 rgba(255, 215, 0, 0.2), 0 6px 20px 0 rgba(255, 215, 0, 0.19);
}*/

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#loading-icon {
  /* Apply the animation */
  animation: rotateAnimation 2s linear infinite;
}

#loading-div {
  font-style: italic;
}

.achievement {
  position: relative;
  display: inline-block; /* Ensures the container fits the content */
  height: 102px;
  margin-bottom: 20px;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: var(--colorInputButton);
  color: var(--colorFont);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: 1px solid #888;
  border-bottom: 4px solid #888;
  line-height: 1.1;
  
  /* Positioning */
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Aligns the tooltip right above the image */
  left: 50%;
  transform: translateX(-50%) translateY(20px); /* Centers the tooltip */
  
  /* Optional: Adds a little spacing between the tooltip and the image */
  margin-bottom: 10px;
  
  /* Transition */
  opacity: 0; /* Start with the tooltip being transparent */
  transition: visibility 0s, opacity 0.3s ease-in-out, transform 0.2s ease-in-out; /* Apply transition to visibility and opacity */
}

.achievement:hover .tooltip {
  visibility: visible; /* Shows the tooltip on hover */
  opacity: 1; /* Make the tooltip fully visible on hover */
  transform: translateX(-50%) translateY(0);
}

.tooltip-text {
  display: block; /* Ensures each span takes up the full width of the tooltip */
  padding-left: 2px;
  padding-right: 2px;
}

.tooltip-title {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 14px;
}

.tooltip-details {
  font-weight: 300;
  margin-top: 0;
  font-size: 12px;
}

.achievement-category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  justify-items: center; 
  align-items: center;
  justify-content: center;
  align-content: center;
  line-height: 1;
}

#summary {
  text-align: center;
  font-style: italic;
  font-weight: 100;
}

h1,h2,h3 {
  line-height: 1.2;
  font-weight: 300;
  padding-left: 16px;
}

h1 {
  font-weight: 100;
  text-align: center;
}

button {
  border: none;
  color: var(--colorFont);
  padding: 14px 18px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  filter: brightness(105%);
  z-index: 2;
}

button:focus, button:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.footer {
  text-align: center;
  padding-top: 60px;
}

a:focus, img:focus {
  outline: none;
}

a, img {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  color: inherit;
  text-decoration: none;
}

.footer-icon {
  font-size: 24pt;
  min-width: 40px; 
  cursor: pointer;
}

button span hr {
  width: 100%; 
  margin: auto; 
  padding: 0; 
  height: 3px; 
  border: none; 
  background-color: var(--colorTOPactive);
}

p.stretch.patent {
  display: flex;
}

p.stretch {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* Align items to the start of the container */
}

p.stretch > a {
  flex-grow: 1;
  margin-right: 8px;
}

p.stretch > button {
  flex-grow: 1;
  margin-right: 7px; 
}

p.stretch a button {
  width: 100%;
}

.infopage {
  line-height: 1.3;
  font-weight: 300;
}

pre {
  margin: 0;
}

li {
  margin-bottom: 6px;
}

summary {
    display: block; /* Ensures summary is a block-level element, improving consistency */
    padding-bottom: 6px;
    cursor: pointer;
}

summary > h3 {
    display: inline; /* Makes h3 inline to avoid the new line issue */
    margin: 0; /* Removes default margin from h3 to avoid spacing issues */
}

summary > h3::before {
    content: "▸ ";
}

img.clickable {
  cursor: pointer;
}
